.container-4{
    background-color: rgb(247, 177, 223);
    border:5px solid rgb(253, 2, 127);
    border-radius: 10px;
    width:75%;
    margin: 30px auto;
    text-align: center;
    }


.flex-box-pick-color{
    border: 2px solid rgb(253, 2, 127);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    margin: 30px auto;
    justify-content: space-around;
}