.container-2{
    
    background-color: rgb(183, 243, 159);
    border:5px solid rgb(74, 243, 7);
    border-radius: 13px;
    width:75%;
    margin: 0 auto;
    text-align: center;
    
}
.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid rgb(74, 243, 7);
    justify-content: space-around;
}
.flex-box-container-2 img {
    display: flex;
    padding: 10px;
    border: 2px solid rgb(26, 146, 2);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 7);
}